
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root{
    
    --primary-font-color:#FFFFFF;
    --primary-btn-bcg-color: rgb(183,92,255);
    background: linear-gradient(14deg, rgba(183,92,255,1) 0%, rgba(103,26,228,1) 100%);

}

body{
    /* background: rgb(152,77,56); */
background: linear-gradient(90deg, rgba(152,77,56,1) 0%, rgba(24,30,65,1) 100%);
padding: 40px 80px;
font-family: "Poppins", serif;

}

/* .hdiv{
    display: flex;
    align-items: center;
    justify-items: end;
    
} */

.header{
   display: flex;
   height: 10vh;
   /* justify-content: space-around; */
}

.search{
    padding-left: 100px;
    padding-right: 90px;
    /* height: 10vh;
    background-color: #b3a4a7; */
}
.place{
    height: 8vh;
    background-color: #b3a4a7;
    width: 350px;
    border-radius: 20px;

}

.collection{
    padding-left: 40px;
    padding-right: 30px;
    color: #FFFFFF;
    font-size: 25px;
}
.features{
    padding-left: 75px;
    padding-right: 30px;
    color: #FFFFFF;
    font-size: 25px;
}
.faq{
    padding-left: 60px;
    padding-right: 50px;
    color: #FFFFFF;
    font-size: 25px;

}
.select{
    padding-left: 20px;
    color: var(--primary-btn-color);
}

.selectbtn{
    background-color: var(--primary-btn-bcg-color);
    color: var(--primary-font-color);
    height: 7vh;
    width: 120px;
   border-radius: 15px;
}
.text{
    display: flex;
    /* flex-direction: column; */
    /* height: 60vh; */
    width: 100%;
}

.textright{
    width: 40%;
}
.firstimg{
    padding-top: 20vh;
}

.btn{
   display: flex;
   padding-top: 50px;
}

.explore{
    padding-right: 50px;
}
.explorenow{
    background-color: var(--primary-btn-bcg-color);
    color: var(--primary-font-color);
    height: 7vh;
    width: 120px;
   border-radius: 15px;
}

.sellnft{
    background-color: #634851;
    color:var(--primary-font-color);
    height: 7vh;
    width: 120px;
   border-radius: 15px;
}

.three{
    display: flex;
    padding-top: 80px;
}
.img1{
padding-right: 100px;
}
.img2{
    padding-right: 100px;
}
.img3{
    

}

.imgleft{
    display: flex;

}

.firstthree{
    padding-top: 130px;
    padding-left: 180px;
}

.second{
    padding-top: 20px;
    transition: 150ms;
}

.second:hover{
    scale: 1.2;
}

.first{
    transition: 150ms;
}

.first:hover{
    scale: 1.2;
}

.secondthree{
    padding-top: 130px;
    padding-left: 40px;
}

.second1{
    transition: 150ms;
}
.second1:hover{
    scale: 1.2;
}

.second2{
    padding-top: 20px;
    transition: 150ms;
}
.second2:hover{
  scale: 1.2;
}
.third{
    padding-top: 200px;
    padding-left: 20px;
}
.third1{
    transition: 150ms;
}
.third1:hover{
    scale: 1.2;
}

.create{
    font-size: 50px;
    color: var(--primary-font-color);
    line-height: 60px;
}

.middlethree{
    display: flex;
    padding-top: 150px;
    animation: name 0.5s ease-in-out  iteration-count ;
    transition: 120ms;
}

.eth{
    padding-left: 230px;
    animation: binance 1s ease-in-out  infinite ;
}

@keyframes binance{
    0%{
        transition: 1s;
        
    }
    100%{
        transition: 1s;
        
    }
}

.blo{
    padding-left: 230px;
}

.aboutus{
    padding-top: 200px;
    padding-left: 600px;
}

.lorem{
    padding-left: 480px;
    padding-top: 40px;
}

.group18{
    display: flex;
    /* height: 80vh; */
    width: 100%;
    padding-top: 100px;
    /* background-color: black; */
}

.group18right{
    width: 50%;

    
}

.group18img{
    height: 90vh;
}

.group18left{
    width: 50%;
}
.group19img{
    padding-left: 40px;
    padding-top: 80px;

}

.title{
    padding-top: 200px;
    padding-left: 500px;
}

.Category{
    padding-top: 50px;
    padding-left: 120px;
}

.nft3{
    display: flex;
    width: 100%;
    padding-top: 25px;
}

.col1img{
    height: 70vh;
    margin: 12px;
    
}
/* .col1img:hover{
    scale: 1.1;
    
} */

.col2img{
    height: 70vh;
    gap: 10vh;
    margin: 12px;
}

.col3img{
    height: 70vh;
    margin:  10px;
}
.itm4{
    display: flex;
    /* justify-content: space-between; */
}
.placebidbtn{
    padding-top: 20px;
    padding-left: 60px;
}
.placebid{
    width: 80%;
    height: 8vh;
   
    border-radius: 20px;
   font-size: 20px;
   font-family: "Poppins", serif;
   background-color: var(--primary-btn-bcg-color);
   color: #FFFFFF;
   transition: 500ms;
}

.placebid:hover{
    scale: 1.1;
}
.second2img{
    padding-left: 140px;
}

.johnyyello{
    padding-left: 30px;
}

.title1{
    padding-top: 150px;
    padding-left: 500px;
}

.nft4{
    display: flex;
    width: 100%;
    padding-top: 25px;
}
.col11img{
    height: 70vh;
    margin: 12px;
    height: 100%;
    
}

.col22{
    padding-left: 80px;
}
.col12img{
    height: 70vh;
    gap: 10vh;
    margin: 12px;
    height: 100%;
}


.col13img{
    height: 70vh;
    margin:  10px;
    height: 100%;
}

.faq1{
    padding-top: 150px;
    padding-left: 100px
}

.ctp{
    padding-top: 150px;
    padding-left: 100px
}

.ctp1{
    padding-left: 500px;
    padding-top: 150px;
}